---
title: Calculator
---

<div id="calculator">
	<!-- top portion of the calculator for the input screen and history box -->
	<div class="top">
		<div class="history" id="history"></div>
		<div class="screen" id="screen"></div>
	</div>
	<!-- bottom portion of the calculator for the keys -->
	<div class = "bottom">
		<div class="keys">
			<span class="selector" id="binary">Bin</span>
			<span class="selector" id="decimal">Dec</span>
			<span class="selector" id="hexidecimal">Hex</span>
		</div>
		<div class="keys">
			<span class="clear" id="clear">Clr</span>
			<span class="memory" id="MS">MS</span>
			<span class="memory" id="MR">MR</span>
			<span class="memory" id="Mplus">M+</span>
		</div>
	<div class="keys">
		<span class="hex" id="C">C</span>
		<span class="hex" id="D">D</span>
		<span class="hex" id="E">E</span>
		<span class="hex" id="F">F</span>
		<span class="operator" id="divide">/</span>
	</div>
	<div class="keys">
		<span class="decimal" id="8">8</span>
		<span class="decimal" id="9">9</span>
		<span class="hex" id="A">A</span>
		<span class="hex" id="B">B</span>
		<span class="operator" id="times">*</span>
	</div>
	<div class="keys">
		<span class="decimal" id="4">4</span>
		<span class="decimal" id="5">5</span>
		<span class="decimal" id="6">6</span>
		<span class="decimal" id="7">7</span>
		<span class="operator" id="minus">-</span>
	</div>
	<div class = "keys">
		<span class="binary" id="0">0</span>
		<span class="binary" id="1">1</span>
		<span class="decimal" id="2">2</span>
		<span class="decimal" id="3">3</span>
		<span class="operator" id="plus">+</span>
	</div>
	<div class="keys">
		<span id="deci">.</span>
		<span class="operator deciop" id="power">^</span>
		<span class="operator deciop" id="sqrt">√</span>
		<span class="operator deciop" id="mod">%</span>
	</div>
		<div class="keys">
		<span class="operator deciop" id="sin">sin</span>
		<span class="operator deciop" id="cos">cos</span>
		<span class="operator deciop" id="tan">tan</span>
		<span class="operator deciop" id="factorial">!</span>
	</div>
</div>
	<div class="keys">
		<span class="equal" id="equals">=</span>
	</div>
</div>


<script src="./javascripts/all.js" type="text/javascript" type="text/javascript"></script>
